---
layout: default
---
{% if site.show_excerpts and page.name == "index.html" %}
{% for page in paginator.posts %}
<article>
  <header>
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time>
  </header>
  {{ page.excerpt }}
  {% unless page.excerpt == page.content %}
  <footer><a class="ghost" href="{{ page.url | relative_url }}">read more »</a></footer>
  {% endunless %}
</article>
{% endfor %}
{% if paginator.total_pages > 1 %}
<footer>
  <a {% if paginator.previous_page %}class="gray" href="{{ paginator.previous_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>« newer posts</a>
  <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  <a {% if paginator.next_page %}class="gray" href="{{ paginator.next_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>older posts »</a>
</footer>
{% endif %}
{% else %}
<p><center>Bonjour à tous, je suis ravis de vous annoncer la mise en ligne de mon nouveau site web. Venez découvrir mes write-ups, <br />mes connaissances, les partages, nos actualités et bien plus encore sur ce site web simple dans sa navigation.</center></p>
<article class="archive">
  {{ content }}
  <header><h1>Posts</h1></header>
  {% for post in site.posts %}
  {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
  <div>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
    <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
  </div>
  {% endfor %}
</article>
{% endif %}
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, search, form, icons" />

	<link rel="stylesheet" href="css/demo.css">
	<link rel="stylesheet" href="css/footer-distributed-with-search.css">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

	<body>

		<footer class="footer-distributed">

			<div class="footer-left">

				<p class="footer-links">
					<a href="/">ACCUEIL</a>
					·
					<a href="/">BLOG</a>
					·
					<a href="/propos">À PROPOS</a>
					·
					<a href="https://twitter.com/Seyptoo">CONTACT</a>
				</p>

				<p class="footer-company-name">Seyptoo Company &copy; 2019</p>

			</div>

			<div class="footer-right">

				<form method="get" action="#">
					<i class="fa fa-search"></i>
				</form>

			</div>

		</footer>

	</body>

</html>
